*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 /* Header */
 .header{
   width: 100%;
   height: 5em;
   padding: 0.2em;
   display: flex;
   background-color: #9093c7;
   justify-content: space-around;
   align-items: center;
 }
 .logo{
   display: flex;
   height: 100%;
 }
 .navbar,.navbar-list{
   display: flex;
 }
 .navbar-list{
   gap:2em;
 }